 .header {
    padding: 60px;
    text-align: center;
    background: #56038d;
    color: rgb(197, 197, 197);
    font-size: 30px;
    display: flex;
 }
   a.gitHublink:link {
    color: rgb(197, 197, 197);
    background-color: transparent;
    text-decoration: underline;
  }
  a.gitHublink:visited {
    color: rgb(197, 197, 197);
    background-color: transparent;
    text-decoration: none;
  }
  a.gitHublink:hover {
    color: rgb(5, 5, 5);
    background-color: transparent;
    text-decoration: none;
  }
  a.gitHublink:active {
    color: rgb(23, 236, 252);
    background-color: transparent;
    text-decoration: none;
  }
  .header-body {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-color: rgb(197, 197, 197);
    color: #56038d;
    font-size: 17px;
  }
  .dark-mode {
    background-color: black;
    color: rgb(197, 197, 197);
  }
  .btn-group1 .darkmodetoggle {
    border: none; 
    border-radius: 50%;
    color: black;
    background-color: rgb(197, 197, 197);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  .darkmodetoggle:hover {
    cursor: pointer;
  }
  img {
    left: 100px;
    top: 100px;
    width:340px;height:244px;
    border-radius: 50%;
    position: absolute;
  }
  .hobbies {
    margin-left: 120px;
    padding: 10px;
    max-width: 340px;
    border-style: double;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
  }
  a.mainbodylink {
    color: #56038d;
  }
  a.mainbodylink:hover {
    color: rgb(5, 5, 5);
    text-decoration: none;
  }  
  a.mainbodylink:active {
    color: rgb(23, 236, 252);
    background-color: transparent;
    text-decoration: none;
  }
  ul.hobbieslist {
    list-style-type: square;
    line-height: 23px;
    font-size: 20px;
  }
  .aboutME {
    max-width: 33%;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  } 
  .flex-container > div {
    margin: 10px;
    padding: 20px;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }