 .header {
    padding: 60px;
    text-align: center;
    background: #56038d;
    color: rgb(197, 197, 197);
    font-size: 30px;
  }
  a:link {
    color: rgb(197, 197, 197);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(197, 197, 197);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(5, 5, 5);
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: rgb(23, 236, 252);
    background-color: transparent;
    text-decoration: none;
  }
  body {
    background-color: rgb(197, 197, 197);
    color: #56038d;
  }
  img {
    position: fixed;
    top: 100px;
    left: 230px;
    width:340px;height:244px;
    border-radius: 50%;
  }